@use "sass:color";
@use "../../settings";
@use "../../utils/base";
@use "../../utils/colors";

.tags {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    .tags-list {
        margin-left: 1rem;
        display: flex;
        flex-wrap: wrap;
    }
    .tag {
        background: color.adjust($color: settings.$light-gray, $lightness: -5%);
        display: inline-block;
        text-transform: uppercase;
        font-size: base.rem-calc(13);
        line-height: 1;
        padding: base.rem-calc(5 10);
        border: 0;
        color: settings.$dark-gray;
        border-radius: 5000px;
        cursor: pointer;
        transition: all 0.25s ease-out;
        margin: 0.5rem 0.35rem;
        &:hover {
            background: colors.get-color('blue');
            color: settings.$white;
        }
    }
}