@use '../settings';
@use '../utils/base';
@use '../utils/colors';
@use '../base/block/card';

@use '../base/components/tags';

.page-title {
   margin-bottom: 2rem;
}

.search-loading {
    img {
        margin-right: base.rem-calc(10);
    }
    * {
        vertical-align: middle;
    }
}

.serp-container {
    display: flex;
    flex-wrap: wrap;
}

.serp-card {
    margin: 1rem;
    transition: all 200ms ease-in-out;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: base.rem-calc(40 0);
}

mark {
    background-color: rgba(colors.get-color('light-yellow'), 0.5);
    padding: base.rem-calc(0 2);
}