{{ $featured_image := partial "func/GetFeaturedImage.html" . }}

{{ if $featured_image }}
  <div class="img-wrapper">
    <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
  </div>
{{ end }}
<div class="detail-wrapper">
  <h2 class="post-title"><a href="{{.RelPermalink}}">{{ .Title | safeHTML }}</a></h2>
  {{ partial "author.html" (dict "taxonomy" "authors" "page" .) }}
  <p class="excerpt">{{ .Plain | truncate 225 }}</p>
  <div class="post-detail">
      <span class="date">{{ .Date.Format .Site.Params.dateFormat }}</span> &bull; <span class="read-time">{{ .ReadingTime }} min read</span>
  </div>
</div>
