@use "sass:color";
@use 'utils/utils';
@use "utils/base";
@use "utils/colors";

//*--------------------------------------------------------*/
// Color Palletes
//*--------------------------------------------------------*/

$black: #333333;
$dark-gray: #505464;
$medium-gray: #676d7f;
$light-gray: #dfe3e4;
$ui-gray: color.mix($light-gray, $medium-gray, 50%);
$ui-light-gray: color.mix($light-gray, $ui-gray, 50%);
$white: #ffffff;
$off-white: #f4f4f4;


//*--------------------------------------------------------*/
// Default Styles
//*--------------------------------------------------------*/
$global-width: 1200px;
$global-lineheight: 1.45;
$body-font-family: 'Mulish', Helvetica, Arial, sans-serif;
$sec-font-family: 'Work Sans', sans-serif;
$font-color: $dark-gray;
$global-radius: 5px;
$global-border: 1px solid $light-gray;
$global-box-shadow: 0px 2px 4px 0 rgba(#202234, .2);
$global-word-spacing: .06em !default;

//*--------------------------------------------------------*/
// button
//*--------------------------------------------------------*/
$button-padding : base.rem-calc(14 42.5);
$button-background-hover-lightness: -10%;
$button-background: colors.get-color('blue');
$button-background-hover: color.scale($button-background, $lightness: $button-background-hover-lightness);
$button-radius: 5000px;
$button-hollow-border-width: 1px;
$button-hollow-hover-lightness: 0%;
$button-transition: background-color 0.25s ease-out, box-shadow 0.25s ease-out;
$button-box-shadow: 1px 1px 1px 0 rgba(colors.get-color('midnight'), 0.65), $button-background -10rem 0 0 0 inset;
$button-hover-box-shadow: 1px 1px 1px 0 rgba(colors.get-color('midnight'), 0.65), color.adjust($button-background, $lightness: 5%) 0 0 0 inset;
$button-active-box-shadow: 0px 1px 5px 0px rgba(colors.get-color('midnight'), 0.5) inset;
$button-hollow-border: 1px solid color.adjust($button-background, $lightness: 20%);
$button-hollow-box-shadow: transparent -10rem 0 0 0 inset;
$button-hollow-hover-box-shadow: $white 0 0 0 0 inset;

//*--------------------------------------------------------*/
// Form
//*--------------------------------------------------------*/
$input-border: 1px solid color.adjust($light-gray, $lightness: -3%);
$input-border-focus: 1px solid color.change(colors.get-color('cyan'), $lightness: 57.45%);
$input-shadow: inset 0px 0px 5px rgba(colors.get-color('midnight'), 0.2);
$input-shadow-focus: $input-shadow, 0 0px 5px color.change(colors.get-color('cyan'), $lightness: 60%);